@model AdminControl.Models.SuggestionModel

@{
    ViewData["Title"] = "حذف";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>حذف</h1>

<h3>هل أنت متأكد أنك تريد حذف هذا؟</h3>
<div>
    <h4>موديل الاقتراح</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            الاسم 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
        البريد الالكتروني
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
           الرساله
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="Index">العودة إلى القائمة</a>
    </form>
</div>
