@model AdminControl.Models.AttachmentModel

@{
    ViewData["Title"] = "تحرير";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>تحرير</h1>

<h4>موديل المرفق</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nameimage" class="control-label">للصوره</label>
                <input asp-for="nameimage" class="form-control" />
                <span asp-validation-for="nameimage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdId" class="control-label">الاعلان</label>
                <select asp-for="AdId" class="form-control" asp-items="ViewBag.AdId"></select>
                <span asp-validation-for="AdId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">العودة إلى القائمة</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
