@model IEnumerable<TodoApi.Models.BackpDatabase>
@{
    int count = 0;
}
<style>
    .dis{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .bi-database{
        font-size: 140px;
    }
    i{
        color: #012970;
    }

    #popup1 {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box {
        width: 40%;
        margin: 0 auto;
        background: rgba(255,255,255,0.2);
        padding: 35px;
        border: 2px solid #fff;
        border-radius: 20px/50px;
        background-clip: padding-box;
        text-align: center;
    }

    .button {
        font-size: 1em;
        padding: 10px;
        color: #fff;
        border: 2px solid #4154f1;
        border-radius: 20px/50px;
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease-out;
    }

        .button:hover {
            background: #4154f1;
        }

    .overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        transition: opacity 150ms;
        visibility: hidden;
        opacity: 0;
    }

        .overlay:target {
            visibility: visible;
            opacity: 1;
        }

    .popup {
        margin: 70px auto;
        padding: 20px;
        background: #fff;
        border-radius: 5px;
        width: 30%;
        position: relative;
    }

        .popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
        }

        .popup .close {
            position: absolute;
            top: 20px;
            left: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
        }

            .popup .close:hover {
                color: #4154f1;
            }

        .popup .content {
            max-height: 30%;
        }

    header, aside {
        z-index: 0 !important
    }

    @@media screen and (max-width: 700px) {
        .box {
            width: 70%;
        }

        .popup {
            width: 70%;
        }
    }
</style>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">ادارة قواعد البيانات</h5>
        <div class="dis">
            <i class="bi bi-database"></i>
          <div class="mt-4">
                <a class="btn btn-danger" id="downloadBackupBtn" style="font-weight: bold;">تحميل نسخة احتياطة<i class="bi bi-download" style="margin-right: 10px; color:white"></i></a>
            <a class="btn btn-warning" id="notfi" style="font-weight: bold;">السجــــل<i class="bi bi-clock-history"></i></a>
       </div>
        </div>


  </div>
</div>
<div id="popup1" class="overlay">
    <div class="popup">
        <h2>حركة ادارة قواعد قواعد البيانات</h2>
        <a class="close" href="#">&times;</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>الرقم</th>
                    <th>المستخدم</th>
                    <th>التاريخ</th>
                    <th>الوقت</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>
                            @{count++;}
                            @count
                        </th>
                        <td>
                                @item.Employee.Name
                        </td>
                        <td>
                                @item.CreatedDate.ToString("dd/YYYY/mm")
                        </td>

                        <td>
                                @item.CreatedDate.ToString("mm:hh")
                        </td>
                    </tr>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#downloadBackupBtn').click(function () {
            $.ajax({
                url: '/SettingsApp/DownloadBackup',
                method: 'GET',
                success: function (data, status, xhr) {
                    // عند نجاح الطلب
                    console.log('تم تنزيل النسخة الاحتياطية بنجاح');
                    // يمكنك إجراء معالجة إضافية هنا مثل إظهار رسالة للمستخدم
                },
                error: function (xhr, status, error) {
                    // في حالة حدوث خطأ أثناء التنفيذ
                    console.error('خطأ في تنزيل النسخة الاحتياطية:', error);
                    // يمكنك إجراء معالجة للخطأ هنا
                }
            });
        });
    });
</script>


<script>
    $(document).ready(function () {
    $('#notfi').click(function () {
        $('#popup1').css({
            'opacity': '1',
            'visibility': 'visible'

        });
    });
        $('.close').click(function (event) {
            $('#popup1').css({
                'opacity': '0',
                'visibility': 'hidden'
            });
        });
    });


</script>