@model AdminControl.Models.CustomerModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">اضافة عميل</h5>

            <!-- No Labels Form -->
            <form class="row g-3" asp-action="Edit">
                <div class="col-md-12">
                    <input type="text" asp-for="username" class="form-control" placeholder="اسم المستخدم" required>
                </div>
                <div class="col-md-12">
                    <input type="number" id="phone" asp-for="phoneNumber" class="form-control" placeholder="رقم الهاتف" required>
                </div>
                <div class="col-md-12">
                    <input id="email" type="email" asp-for="email" class="form-control" placeholder="البريد الالكتروني" required>
                </div>
                <div class="col-md-6">
                    <input id="password"  asp-for="password" class="form-control" placeholder="كلمة المرور" required>
                </div>
                <div class="col-6">
                    <input id="confirm" asp-for="confirm" class="form-control" placeholder="تاكيد كلمة المرور" required>
                </div>
                <div class="col-md-6">
                    <label for="coco"> حالة الحظر </label>
                    <input id="coco" asp-for="isblock">
                </div>
                <div class="col-md-6">
                    <label for="coco"> حالة التاكيد </label>
                    <input id="coco"  asp-for="Isconfirm">
                </div>
                <div class="text-center">
                    <button type="submit" id="submit-btn" asp-action="Create" class="btn btn-primary">ارسال</button>
                    <a asp-action="Index" class="btn btn-secondary">عودة</a>
                </div>
            </form><!-- End No Labels Form -->

        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#submit-btn').click(function (event) {
            var password = $('#password').val();
            var confirm = $('#confirm').val();
            var email = $('#email').val();
            var phone = $('#phone').val();

            if (password !== confirm) {
                event.preventDefault();
                Swal.fire({
                    icon: 'error',
                    title: 'خطأ !',
                    text: 'كلمتا المرور غير متطابقتان'
                });
                return;
            }

            $.ajax({
                url: '/CustomerModels/CheckEmailEdit',
                type: 'GET',
                data: { email: email,phone:phone },
                success: function (response) {
                    if (response.exists) {
                        event.preventDefault();
                        Swal.fire({
                            icon: 'error',
                            title: 'خطأ!',
                            text: 'قم بمراجعة بيانات الهاتف او البريد الالكترني'
                        });
                    } else {
                        console.log('البريد الإلكتروني غير موجود');
                        $('#submit-btn').closest('form').submit(); 
                    }
                }
            });

            event.preventDefault();
        });
    });
</script>
